fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
psycopg[binary]==3.2.9
groq==0.30.0
python-dotenv==1.1.1
httpx==0.28.1
pytest==8.4.1
alembic==1.14.0
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
sentry-sdk[fastapi]==2.29.1
google-auth==2.37.0
google-auth-oauthlib==1.2.1
